/* default css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  font-weight: 400;
  color: white !important;
  font-family: sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* default css end */

/* navbar css */


/* Skills css */

.skill {
  padding: 0px 0 50px 0;
  position: relative;
  height: 100vh;
}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 50px 60px;
  margin-top: -60px;
}






.skills-slider {
  width: 100%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 40%;
  max-height: 100px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 60s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 200;
  }
}


.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.progress-bar-container:not(:last-child) {
  margin-bottom: 50px;
}

.progress-bar {
  width: 500px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid none;
  border-radius: 5px;
  box-shadow: 0 2px 10px #4CC790;
}


.percentage {
  display: flex;
  height: 100%;
  background-color: #4CC790;
  border-radius: 5px;
  animation: progressing 20s ease-in-out infinite;
}

.html {
  width: 91%;
}

.css {
  width: 88%;
}

.javascript {
  width: 75%;
}
.reactjs{
  width: 83%;
}
.react-native{
  width: 85%;
}

.skills h2{
  font-size: 30px;
}

@keyframes progressing {
  from {
      width: 0;
  }
}

.h-72::-webkit-scrollbar {
  display: none;
}

.h-72 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Skills css */

@media (max-width: 480px) {
  .progress-bar{
    width: 330px;
    justify-content: center;
  }
  .first {
    display: none;
  }
  .banner .wrap{
    font-size: 30px;
  }
}